* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    background-color: #111;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    position: fixed;
    top: 0;
    z-index: 10;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 2px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #aaa;
}

.hero {
    height: 100vh;
    width: 100%;
    background: url('thor.jpg') center/cover no-repeat;
    display: flex;
    align-items: center;
    padding: 0 80px;
    position: relative;
}

.hero::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.2);
}

.hero .content {
    position: relative;
    color: black;
    max-width: 600px;
    margin-top: 100px;
}

.hero h1 {
    font-size: 80px;
    font-weight: 900;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.hero p {
    font-size: 18px;
    line-height: 1.5;
    color: #111;
}